<%= form_with(model: feed, local: true, url: choose_new_or_edit ) do |form| %>
    <div class="field">
        <%= form.label :画像 %>
        <%= image_tag(feed.image.url) if feed.image && feed.image.url  %>
        <%= form.file_field :image %>
    </div>
    <br>
    <div class="content_word">
        <%= form.label :content %>
        <%= form.text_field :content %>
    </div>
    <br>
    <div class="actions">
        <%= form.submit %>
    </div>
<% end %>
