<div class="css">
    <div class="left">
        <h1>投稿一覧</h1>

        <table>
            <thead>
                <tr>
                    <th>Image</th>
                    <th>word</th>
                    <th>user</th>
                    <th colspan="0"></th>
                </tr>
            </thead>

            <tbody>
                <% @feeds.each do |feed| %>
                    <tr>
                        <td><%= image_tag feed.image.url , size: "50x50" %></td>
                        <td><%= feed.content %></td>
                        <td><%= feed.user.name %></td>
                        <td><%= link_to '詳しく見る', feed, class:"button" %></td>
                        <% if current_user.email == feed.user.email %>
                        <td><%= link_to '編集', edit_feed_path(feed), class:"button" %></td>
                        <td><%= link_to '削除', feed, method: :delete, data: { confirm: 'Are you sure?' } , class:"button" %></td>
                        <% else %>
                        <% end %>
                    </tr>
                <% end %>
            </tbody>
        </table>

        <br>
        <br>

        <%= link_to '投稿する', new_feed_path, class:"link_button" %>
        <%= link_to 'お気に入り一覧', favorites_path, class:"link_button" %>
    </div>
</div>

