<div class="css">
　<div class="left">
        <h1>ユーザー情報を編集する</h1>
        <br>
        <br>

        <%= form_with(model: @user, local: true) do |f| %>
            <%= f.label :name %>
            <%= f.text_field :name, class:"form" %>
            <br>
            <br>
            <%= f.label :email %>
            <%= f.email_field :email, class:"form" %>
            <br>
            <br>
            <%= f.label :picture %>
            <%= image_tag @user.picture.url, size: "100x100" %>
            <%= f.file_field :picture %>
            <br>
            <br>
            <%= f.label :password %>
            <%= f.password_field :password, class:"form" %>
            <br>
            <br>
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class:"form" %>
            <br>
            <br>
            <br>
            <%= f.submit "アカウントを編集する", class:"button" %>
        <% end %>
        <br>
        <br>
        <br>
        <br>

        <%= link_to 'ユーザー情報を見る', @user, class:"link_button" %>
        <%= link_to '投稿一覧へ', feeds_path, class:"link_button" %>
    </div>
</div>

