<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>
<p>プロフィール写真: <%= image_tag @user.picture.url %></p>

<%= link_to '編集', edit_user_path(@user) %> |
<%= link_to '投稿する', new_feed_path %> |
<%= link_to '投稿一覧へ', feeds_path %>


